# AttHolidays Backend Server Environment Variables
PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/attholidays
JWT_SECRET=your_jwt_secret_key_here

# AttHolidays Frontend Environment Variables
API_URL=http://localhost:5001/api
